page{
  
.back{
  background-color: #f2f2f2;
  .createStorage{
    height: 180rpx;
    display: flex;
    margin-left: 25rpx;
    margin-right: 25rpx;

    .dis{
      display: flex;
      flex-direction: column;
      margin-top: 30rpx;
      margin-left:20rpx;
      padding-bottom: 30rpx;
      width: 75%;
      .content{
        font-size: 24rpx;
        font-family: '.AppleSystemUIFont';
        color: #000000;
        line-height: 28rpx;
        text-align: left;
      }
      .cbtn{
        font-size: 24rpx;
        flex:1;
        margin-top: 10rpx;
        width: 250rpx;
        height: 33rpx;
        text-align: center;
        padding-top: 10rpx;
        align-items: center;
        justify-content: center;
        background-color: #87c03e;
        border-radius: 10rpx;
      }
    }

    image{
      width:120rpx;
      margin-top:30rpx;
      margin-left: 30rpx;
      margin-right: 30rpx;
      border-radius: 10rpx;
    }
  }
}

  .my{
    text-align: center;
    font-size: 32rpx;
    font-family: '.AppleSystemUIFont';
    line-height: 36rpx;
    color: #87c03f;
    margin-top: 32rpx;

  }
  .storages{

   .storage_list{
     margin:20rpx;
     height:110rpx;
     border-radius: 10rpx;
     display:flex;
     align-items: center;

     navigator{
       display: flex;
       margin-left: 10rpx;
       align-items: center;
       justify-content: space-between;
       image{
        width: 90rpx;
        height:90rpx;
        border-radius:20rpx;
         border-radius: 20rpx;
         background-color: #fff;
         box-shadow: -2px 8px 15px -12px rgba(100, 120, 120, 1);
       }
       .middle{
        display: flex;
        width: 425rpx;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 15rpx;
        .storage_name{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 32rpx;
          font-family: '.AppleSystemUIFont';
          line-height: 36rpx;
          color: #333333;
        }
        .info{
          margin-top: 20rpx;
          font-size: 24rpx;
          font-family: '.AppleSystemUIFont';
          line-height: 30rpx;
          color: #979797;
        }
      }
      .right{
        margin-left: 40rpx;
        navigator{
          padding: 8rpx 0;
          background-color: #87c03e;
          border-radius: 10rpx;
          width: 120rpx;
          height: 44rpx;
   
          margin-top: 10rpx;
          border-radius: 20rpx;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          font-size: 28rpx;
          font-family: '.AppleSystemUIFont';
          line-height: 30rpx;
          color: #ffffff;
        }
        
      }
     }
   }
  }

  .search{
    margin-top: 30rpx;
    text{
      text-align: center;
      display: flex;
      align-content: center;
      justify-content: center;
      font-size: 32rpx;
      font-family: '.AppleSystemUIFont';
      line-height: 36rpx;
      color: #87c03f;
      margin-top: 32rpx;
    }
    .storage_list{
      margin:20rpx;
      height:110rpx;
      border-radius: 10rpx;
      display:flex;
      align-items: center;
 
      navigator{
        display: flex;
        margin-left: 10rpx;
        align-items: center;
        justify-content: space-between;
        image{
         width: 90rpx;
         height:90rpx;
         border-radius:20rpx;
          border-radius: 20rpx;
          background-color: #fff;
          box-shadow: -2px 8px 15px -12px rgba(100, 120, 120, 1);
        }
        .middle{
         display: flex;
         width: 425rpx;
         flex-direction: column;
         justify-content: space-around;
         margin-left: 15rpx;
         .storage_name{
           white-space: nowrap;
           overflow: hidden;
           text-overflow: ellipsis;
           font-size: 32rpx;
           font-family: '.AppleSystemUIFont';
           line-height: 36rpx;
           color: #333333;
         }
         .info{
           margin-top: 20rpx;
           font-size: 24rpx;
           font-family: '.AppleSystemUIFont';
           line-height: 30rpx;
           color: #979797;
         }
       }
       .right{
         margin-left: 40rpx;
         navigator{
           padding: 8rpx 0;
           background-color: #87c03e;
           border-radius: 10rpx;
           width: 120rpx;
           height: 44rpx;
    
           margin-top: 10rpx;
           border-radius: 20rpx;
           display: flex;
           align-items: center;
           text-align: center;
           justify-content: center;
           font-size: 28rpx;
           font-family: '.AppleSystemUIFont';
           line-height: 30rpx;
           color: #ffffff;
         }
         
       }
      }
    }
   }


}