.productinfo{
  display: flex;
  margin-left: 30rpx;
  image{
    border-radius: 20rpx;
    width: 120rpx;
  }
  .other{
    margin-left: 20rpx;
    .title{
      font-size: 30rpx;
    }
    .price{
      font-size: 20rpx;
    }
    .university{
      font-size: 20rpx;
    }
    .campus{
      font-size: 20rpx;
    }
  }


}
.warn{
  margin-top: 2%;
  font-size: 35rpx;
  background-color:rgb(247, 157, 53);
  height: 60rpx;
  text-align: center;
  border-radius: 10rpx;
}
.container {
  height: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 80rpx;
}